# Node
node-backend/node_modules/
node-backend/config/

# macOS
.DS_Store
*.swp
*~

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Claude Code
.claude/
